{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>title / book frequency</h1>
</div>

<div>


</div>

<br>

<form action="/submit" method="POST" enctype="multipart/form-data">
  <div class="form-group">    
    <input type="file" name="file" accept=".epub">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
  </div>
</form>

<br>
<hr>

<div>
  {% for book in books %}
    <h4 class="well"><strong>{{book.title}}</strong> - <em>{{book.author}}</em></h4>
  {% endfor %}
</div>

{% if word_freq %}
<hr>
<div>
  <h3>Word Frequency:</h3>
  <pre style="white-space: pre-wrap; word-break: break-word; max-height: 400px; overflow-y: auto;">{{ word_freq|safe }}</pre>
</div>
{% endif %}



{% endblock %}